# Prerequisites
*.d

# Visual Studio cache
.vs/

# Build outputs
[Bb]uild/
x64/
Debug/
Release/
out/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Visual Studio specific
*.suo
*.VC.db
*.idb
*.tlog
*.vsidx

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
